@import 'styles/custom.scss';

.repositories {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-bottom: 3rem;
  width: 100%;
  align-self: start;

  .info {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  dl {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-bottom: .5rem;
    dt,
    dd {
      width: 50%;
      padding: 0 .5rem;
      margin-bottom: 1rem;
      font-size: 1.1rem;
      @media (min-width: 0) and (max-width: map-get($grid-breakpoints, lg)) {
        font-size: .9rem;
      }
    }
    dt {
      color: $yellow;
      text-align: right;
      font-weight: bold;      
      align-self: start;
    }
    dd {
      color: $white;
      text-align: left;
    }
  }
  
  .avatar_url {
    max-width: 150px;
    border-radius: 50%;
  }
  .login {
    color: $white;
  }
  .name {
    color: $white;
  }
  .public_repos {
    color: $white;
  }
}
