@import "styles/custom.scss";
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;700&display=swap');

/* reset && global structure */
*, *:before, *:after {
  box-sizing: border-box;
}
ul,li,dl,dt,dd{
  margin: 0; padding: 0; list-style: none;
}

a{ 
  color: $orange;
  &:hover{
    color: $yellow;
  }
}

html, body{
  width: 100%; height: 100%; margin: 0; padding: 0;
}

html, body{
  font-size: 16px;
  color: $light;
  background-color: $dark;
  font-family: 'Open Sans', sans-serif; 
}

h1{ font-size: 2.5rem; margin: 1rem 0;}
h2{ font-size: 2rem; margin: .5rem 0;}
h3{ font-size: 1.75rem;}
h4{ font-size: 1.5rem;}
h5{ font-size: 1.25rem;}
h6{ font-size: 1.1rem;}
p{ font-size: 1.1rem;}

body {  
  height: auto;
}

.container{
  display: block;
  padding: 1rem 2rem;
  margin: 0 auto;
  max-width: 960px;
}

.centered {
  margin: 2rem auto;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.row{ 
  display:flex;
  &-block{
    display: block;
  }
}

.title{
  color: $orange;
}

.subtitle{
  color: $orange;
}

.text{
  &-start{
    text-align: left;
  }
  &-center{
    text-align: center;
  }
  &-end{
    text-align: right;
  }
}

.focused {
  font-size: 3rem;
  font-weight: bold;
  color: $white;
}

.btn {
  text-decoration: none;
  background-color: $purple;
  color: $white;
  border-radius: 5px;
  border: 2px solid $purple;
  font-weight: 700;
  cursor: pointer;
  font-size: 1.25rem;
  padding: 0.75rem 1.5rem;
  &-small{
    font-size: 1rem;
    padding: 0.5rem 1.0rem;
  }
  &-large{
    font-size: 1.5rem;
    padding: 1rem 2.5rem;
  }
  &:hover,
  &:active {
    color: $white;
    background-color: $orange;
    border-color: $purple;
    box-shadow: 1px 1px 15px 2px inset $purple;
  }
}

