@import "styles/custom.scss";

.searcher{
    form{
        display: block;
        padding: 0 2rem;
    }
    input[type=text]{
        background: $white;
        padding: .2rem;
        color: $purple;
        border: 2px solid $purple;
        border-radius: 5px;
        font-size: 1.25rem;
        &::placeholder{
            color: $orange;
        }
        &:focus{
            background: $orange;
            color: $white;
            outline: 0;
        }
    }
}